* {
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
}


/* NAV BAR */

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

header .logo {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    align-items: center;
}

header nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

header nav .nav-bar {
    margin: 8px;
    font-family: "gotham-general";
    font-size: 15px;
    color: black;
    align-items: center;
}
    
header nav a:hover {
    color: #e6d690;
}

header nav a {
    text-decoration: none;
    color: black !important; 
}

header .menu-hamburguesa {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    align-items: center;
}

header .menu-hamburguesa img{
    width: 30px;
    height: 30px;
    align-items: center;
}

/* CUERPO WEB */

body {
    font-family: "gotham-general";
}

.container .inicio {
    display: flex;
    flex-wrap: wrap;
}

.titulo-inicio {
    font-weight: 700px;
    color: #3b7861;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
}

.subtitulo-index {
    font-weight: 500px;
    color: black !important;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.container .col-6 p {
    font-size: 1rem;
    font-weight: 300px;
    text-align: justify;
    justify-content: center;
}

.container .col-6 a {
    text-decoration: none;
    color: black;
    background-color: #e6d690;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.video-inicio{
    width: 100%;
    height: 300px;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.intro-inicio iframe {
    width: 565px !important;
    height: 300px !important;
    justify-content: center;
}

.boton-inicio {
    text-decoration: none;
    color: black;
    background-color: #e6d690;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container .boton-inicio {
    display: flex;
    align-items: center;
}

/* SECCION 2 CON TARJETAS*/

.titulo-modulo-h3 {
    font-size: 1.5rem;
    font-weight: 500px;
    padding: 10px;
    text-align: center;
    margin: 0px; 
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.contenedor .tarjeta {
    width: 300px;
    height: 350px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.contenedor .tarjeta img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    width: 100%;
}

.contenedor .tarjeta h3 {
    font-size: 1rem;
    font-weight: 500px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 0px;
}

.contenedor p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px; /*espacio que deja en la misma caja*/
    font-weight: 300px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contenedor .tarjeta a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

/* animacion boton tarjetas */

@keyframes CambiarColorBoton {
    0% {
        background-color: #F5F5F5;
    }

    50% {
        background-color: #e6d690c8;
    }

    100% {
        background-color: #e6d690;
    }
}

.boton-tarjeta-inicio:hover {
    animation-name: CambiarColorBoton;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* FORMULARIO Y MAPA */ 

/*
.grid-container-inicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 300px);
    column-gap: 40px; 
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
}

.grid-item .item-uno {
    justify-content: center;
    align-items: center;
}
*/

.seccion-form-inicio {
    display: flex;
    flex-wrap: wrap;
}

.seccion-form-inicio col {
    justify-content: center;
}

.formulario { /* formulario */
    margin-left: 40px;
    border-radius: 4px;
    background-color: #3b7861;
    border: #3b7861 solid 1px;
    width: 80%;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container .col {
    text-align: center;
}

.seccion-form-inicio h4 {
    font-style: bold;
    color: white;
}

.item-uno h3 {
    font-style: bold;
    font-size: 20px;
    color: white;
}

.input-form {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    outline: none; 
    border: 1px solid grey;
    margin-bottom: 5px;
}

.nombre-casilla-form-1 {
    margin: 0px;
    text-align: left;
    color: white;
}

.input-form:focus { 
    border-color: #e6d690; 
}

.select-form {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: white;
    color: grey;
}

#ttcc-link {
    text-align: center;
    width: 100%;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    margin: 5px;
    align-items: center;
    background-color: #3b7861;
}

.boton-form {
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 0px;
    display: block;
    margin: 5px 5px;
}

.seccion-form-inicio iframe {
    overflow: hidden;
    width: 500px !important;
    height: 300px !important;
    justify-content: center;
}

.ttcc-form {
    color: white;
}

/*
.item-dos {  mapa 
    overflow: hidden;
    position: relative;
    padding-bottom: 48%;
    height: 0;
    margin-right: 40px;
}
*/ 


/* FORMULARIO Y MAPA 

.formulario {
    border-radius: 4px;
    border: #3b7861 solid 1px;
    background-color: #d2d1c7;
    width: 70%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario form {
    font-size: 20px; 
    font-weight: bold;
    text-align: left !important;
    width: 100%;
    margin-bottom: 5px;
}

.input-form {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    outline: none; 
    border: 1px solid grey;
}

.input-form:focus { 
    border-color: #e6d690; 
}

.nombre-casilla-form {
    padding: 0px;
    margin-bottom: 0px;
}

.select-form {
    width: 100%;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid grey;
}

.ttcc-form {
    text-align: center;
    width: 100%;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    margin: 5px;
    align-items: center;
}

.boton-form {
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 0px;
    display: block;
    margin-bottom: 5px;
}

.mapa-ubicacion {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
*/

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #e9e6e6ed;
    justify-content: space-between;
    align-items: center !important;
    text-align: center !important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

footer div {
    align-items: center !important;
}

.texto-footer {
    display: flex;
    width: 100%;
    place-items: center; /* alinear el texto al centro*/
}

footer img {
    align-items: center;
    width: 100px;
    height: 50px;
    margin-left: 20px;  
}

footer p {
    align-items: center;
    font-size: 12px;
    justify-content: center;
}

footer a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.red-social {
    list-style-type: none;
    align-items: center;
    margin-left: 120px;
    font-size: 15px;
}






/* ESTILO PAGINA NOSOTROS*/ 

.titulo-nosotros {
    margin: 15px 10px;  
    color: #3b7861;
    font-size: 2rem;
    font-weight: 500px;
    text-align: center;
}

.parrafo-principal-nosotros {
    text-align: center;
    margin: 20px 40px;
    font-size: 1rem;
    font-weight: 300px;
}

.video-nosotros {
    width: 100%;
    height: 350px;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.titulo-modulo-h3 {
    padding: 0px;
    font-style: bold;
    font-size: 1.5rem;
    justify-content: center;
}

.seccion1-nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    margin-bottom: 15px;
}

.seccion1-nosotros .card {
    text-align: center;
    
    box-shadow: 14px 14px 18px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 14px 18px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 18px -14px rgba(0,0,0,0.75);
}

.seccion1-nosotros:hover .card {
    animation-name: efecto_tarjetas;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
}

@keyframes efecto_tarjetas {
    0%{
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(0px, 10px);
    }
    80% {
        transform: translate(0px, 20px);
    }
    100% {
        transform: translate(0px, 30px);
    }
}

.seccion1-nosotros .card img {
    width: 100%;
    height: 200px;   
}

.seccion1-nosotros h4 {
    font-style: bold;
    font-size: 1rem;
    justify-content: center;
}

.seccion1-nosotros p {
    font-weight: 500px;
    font-size: 0.75rem;
    margin-bottom: 10px;
    text-align: center; 
}

.contenedor .card {
    width: 300px;
    height: 200px;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.contenedor .card img {
    width: 300px;
    height: 200px;
    width: 100%;
}

.card {
    margin: 5px !important;
}

.card-text {
    justify-content: center !important;
    text-align: justify !important;
}

.col {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
} 

.row {
    margin-left: 40px;
    margin-right: 40px;  
}

.reviews-nosotros {
    margin: 20px 10px;
    text-align: center;
}
 
.reviews-nosotros p {
    margin: 10px;  
    font-style: italic;
    justify-content: center;  
}

.reviews-nosotros h4 {
    font-style: 700px;
    font-size: 1rem;
    margin-top: 0px;
    margin: 10px;
}

.reviews-nosotros img {
    width: 25%;
    height: 40px;
}

/* NUEVO ESTILO CONTACTO*/

.container-contacto {
    background-color: #F5F5F5;
    display: flex;
    padding: 20px;
    margin: 40px;
    border-radius: 5px;
    flex-wrap: wrap;
}

.contacto-primero {
    padding: 10px;
    width: 50%;
}

.contacto-primero h4 {
    font-size: 1rem;
    color: #3b7861;
}

.contacto-primero h2 {
    font-size: 2.5rem;
    color: black; 
    margin-bottom: 20px;
}

.contacto-primero a {
    margin-right: 5px;
}

.rrss-contacto {
    text-align: center;
    margin-bottom: 30px;
}

.whatsapp-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.whatsapp-container p {
    margin: 0px;
    text-align: left;
}

.instagram-container {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}

.instagram-container p {
    margin: 0px;
    align-items: center;
}

.facebook-container {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}

.facebook-container p {
    margin: 0px;
    align-items: center;
}

.boton-icono {
    transition: 2s;
}

.boton-icono:hover{
    transform: rotate(360deg);
}

.contacto-form {
    background-color: white;
    margin-left: 40px;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.contacto-form .ttcc-form {
    margin: 10px 10px;
}

.ttcc-form-contacto {
    color: black;
}

.ttcc-link-contacto {
    color: black;
    background-color: white;
    font-weight: 600;
}

.nombre-casilla-form-contacto-1 {
    color: black;
    text-align: left;
    margin: 5px;
}

/*
.grid-container-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    column-gap: 60px; 
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
}

.item-uno-contacto {
    background-color: #e6d690;
    grid-column: 1/2;
}

.item-uno-contacto h2 {
    margin: 10px 10px;
    font-style: bold;
    justify-content: center;
    font-size: 20px;
}

.item-uno-contacto .parrafo-formulario-contacto {
    margin-bottom: 10px;
}

.nombre-casilla-form {
    margin-top: 5px;
}

.item-uno-contacto {
    grid-column: 1/2;
    padding: 40px;
}

.item-dos-contacto {
    grid-column: 2/4;
    width: 50%;
}

.boton-form-contacto {
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 0px;
    display: block;
    margin: 5px 5px;
    padding: 5px;
}

.card img {
    width: 100%;
}
*/

/* ESTILO PAGINA PRODUCTOS*/ 

.titulo-principal-producto {
    font-size: 1.5rem;
    font-weight: 500px;
    color: #3b7861;
    text-align: center;
    justify-content: center;
    margin: 15px 10px;
}

.seccion1-productos {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.seccion1-productos .card-body {
    padding: 5px;
}

.seccion1-productos .card a img {
    width: 100%;
    height: 180px;
}

.card {
    margin: 10px !important;
    padding: 0px !important;
    border: none;
    align-items: center;
}

.card-text {
    font-style: bold !important;
    justify-content: center !important;
}

.titulo-secundario-producto {
    margin: 10px 10px;
    font-style: bold;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

/* subcategoria skincare */
.productos-skincare {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 20px;
}

.productos-skincare .carousel-item img{
    width: 100%;
    height: 200px;
}

.productos-skincare p {
    font-size: 12px;
    justify-content: center;
    margin: 0px 0px;
}

.productos-skincare .foto-producto {
    height: 90px;
    width: 60%;
    justify-content: center;
    margin-bottom: 10px;
}

.productos-skincare col-2 {
    align-items: center;
}

.productos-skincare a {
    font-size: 12px !important;
    text-decoration: none;
    color: black;
    background-color: #e6d690;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.productos-skincare div {
    align-items: center !important;
    justify-content: center !important;
}

/* subcategoria make-up*/

.productos-makeup {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 20px;
}

.productos-makeup p {
    font-size: 12px;
    justify-content: center;
    margin: 0px 0px;
}

.productos-makeup .carousel-item img{
    width: 100%;
    height: 200px;
}

.productos-makeup .foto-producto {
    height: 90px;
    width: 60%;
    justify-content: center;
    margin-bottom: 10px;
}

.productos-makeup col-2 {
    align-items: center;
}

.productos-makeup a {
    font-size: 12px !important;
    text-decoration: none;
    color: black;
    background-color: #e6d690;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.productos-makeup div {
    align-items: center !important;
    justify-content: center !important;
}

/* subcategoria fragancies*/
.productos-fragances {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: 60px;
}

.productos-fragances p {
    font-size: 12px;
    justify-content: center;
    margin: 0px 0px;
}

.productos-fragances .carousel-item img{
    width: 100%;
    height: 200px;
}

.productos-fragances .foto-producto {
    height: 90px;
    width: 60%;
    justify-content: center;
    margin-bottom: 10px;
}

.productos-fragances col-2 {
    align-items: center;
}

.productos-fragances a {
    font-size: 12px !important;
    text-decoration: none;
    color: black;
    background-color: #e6d690;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

/* ESTILO PAGINA SUSTENTABILIDAD*/ 

.container {
    margin: 20px !important;
    justify-content: center !important;
}

.col {
    width: 50%;
}

.row {
    align-items: center !important;
}

.container p {
    margin-bottom: 10px;
}

.container a {
    text-decoration: none;
    color: black;
    background-color: #e6d690;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.container .columna-1 img {
    width: 100% !important;
    height: 350px !important;
    display: flex;
    flex-wrap: wrap;
}

.container .columna-2 {
   padding: 15px;
}

.video-pag-sustent-1 {
    width: 100%;
}

.video-pag-sustent-2 {
    width: 100%;
}

.container .columna-3 {
    text-align: center;
}

.container .columna-6 {
    text-align: center;
}

